<?xml version="1.0" encoding="UTF-8" ?>
<odoo>
    <act_window id = 'action_todo_task'
                name = 'To-do task'
                res_model = 'todo.task'
                view_mode = 'tree,form'/>
    <menuitem id = 'menu_todo'
              name = 'Todo tasks'
              action = 'action_todo_task'/>
</odoo>